@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

h2{
    color:green;
}
body{
    font-family: Courgette, sans-serif;
    background: lightgray;
}

.spell-description-wrapper{

    width: 60%;
    border-style: solid;
    border-radius: 1em;
    padding: 1em;
}

#directory-wrapper {
    border-style: solid;
    border-width: 4px;
    border-color: black;
    margin: 5em;
    padding: 1em;
}


.Evocation {
    background: lightsalmon;
    color:darkred;
    float:left;
    padding-right: 5em;

}

.Conjuration {
    background: darkmagenta;
    color:lightpink;
    float:left;
    padding-right: 5em;

}

.Abjuration {
    background: lightskyblue;
    color: darkblue;
    float:left;
    padding-right: 5em;

}

.Divination {
    background: darkblue;
    color: lightseagreen;
    float:left;
    padding-right: 5em;

}

.Enchantment {
    background: lightgreen;
    color: darkolivegreen;
    float:left;
    padding-right: 5em;

}

.Illusion {
    background: lightgray;
    color:black;
    float:left;
    padding-right: 5em;

}

.Necromancy {
    background: black;
    color: lightgray;
    float:left;
    padding-right: 5em;

}

.Transmutation{
    background: aquamarine;
    color: darkgreen;
    float:left;
    padding-right: 5em;

}



